@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0
}

.dashboard-main-bg {
	background: #f2edf3
}

.black {
	color: #3e3e3e
}

.hover {
	cursor: pointer;
	transition: all .25s ease-in-out;
}

.hover:hover {
	background: rgba(229, 231, 235, 0.6);
}

.full-flex {
	display: flex;
	justify-content: space-between;
	align-items: center
}

.flex-v-center {
	display: flex;
	align-items: center
}
